<h4>Здравствуйте, {{ user.last_name }} {{ user.first_name }}{% if user.middle_name %} {{ user.middle_name }}{% endif %}!</h4>

<p>Вы получили это письмо потому, что запросили сброс пароля для вашей учетной записи для научно-практической конференции «HUMANIORA FORUM – 2024».</p>

<p>Пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:</p>

{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
<br>
<p>С уважением, оргкомитет «HUMANIORA FORUM – 2024».</p>