{% extends "conference/layout.html" %}
{% load widget_tweaks %}

{% block links %}
<style>
	.form_wrapper {
		width: 100%;
		margin: 50px 20px;
		max-width: 700px;
	}
	.wrapper {
		border: 1px lightgray solid;
		border-radius: 5px;
		padding: 15px 20px;
	}
	.margin_top {
		margin-top: 10px;
	}

</style>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="wrapper form_wrapper">
			<form method="post">
				<h4>Сброс пароля</h4>
				{% csrf_token %}
				<div class="form-group">
					<label for="id_new_password1" class="form-label">Новый пароль:</label>
					{% render_field form.new_password1 class="form-control" %}
					{% if form.new_password1.errors %}
					<small class="red">{{ form.new_password1.errors|striptags }}</small>
					{% endif %}
				</div>
				<div class="form-group">
					<label for="id_new_password2" class="form-label">Подтверждение:</label>
					{% render_field form.new_password2 class="form-control" %}
					{% if form.new_password2.errors %}
					<small class="red">{{ form.new_password2.errors|striptags }}</small>
					{% endif %}
				</div>

				<div class="margin_top">
					<button type="submit" class="btn btn-primary">Изменить пароль</button>
				</div>
			</form>
		</div>
    </div>
</div>
{% endblock %}