{% extends "conference/layout.html" %}

{% block links %}
<style>
	.form_wrapper {
		width: 100%;
		margin: 50px 20px;
		max-width: 700px;
	}
	.wrapper {
		border: 1px lightgray solid;
		border-radius: 5px;
		padding: 15px 20px;
	}
	.margin_top {
		margin-top: 10px;
	}

</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="wrapper form_wrapper">
            <h4>Восстановление пароля</h4>
            <div class="about_label">
                <p>На указанный e-mail отправлено письмо с инструкцией по восстановлению пароля.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}