{% extends "conference/layout.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="wrapper form_wrapper">
            <form method="post">
                <h4 class="margin_bottom">Восстановление пароля</h4>
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.email|add_label_class:"input_label" }}
                    {% render_field form.email class="form-control" %}
                    {% if form.email.errors %}
                    <small class="red">{{ form.email.errors|striptags  }}</small>
                    {% endif %}
                </div>

                <div class="form-button margin_tops">
                    <input type="submit" value="Отправить" class="btn btn-primary">
                    <a href="{%url 'login' %}"  class="btn btn-outline">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}