<h4>Здравствуйте, {{ user.last_name }} {{ user.first_name }}{% if user.middle_name %} {{ user.middle_name }}{% endif %}!</h4>

<p>Для завершения регистрации на «{{ site }}» требуется подтвердить адрес электронной почты.</p>

<p>Пожалуйста, перейдите по ссылке ниже, чтобы выполнить регистрацию:</p>

<p><a href="{{ link }}">{{ link }}</a></p>

<p style="font-style: italic; color: gray;">*Эта ссылка будет действовать в течение 24 ч. По истечении срока действия запросите отправку нового письма для подтверждения адреса в вашем <a href="{% url 'profile' %}">личном кабинете</a>.</p>
<br>
<p>{{ footer }}</p>
